@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

body {
  font-family: Helvetica, Arial;
  background-color: #000;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #fff;
}

h1 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold; 
}

label h2 {
  margin: 10px 0;
}

nav li {
  display: inline-block;
  padding: 10px 15px 6px 15px;
  margin-right: 3px;
  border-top-right-radius: 8px; 
  border-top-left-radius: 8px;
  box-shadow: -2px -1px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: #fbfb2f;
  text-align: center;
  list-style: none;
}

nav li a {
  text-decoration: none;
  pointer-events: none;
}

nav li.active {
  background-color: #adad2a;
}

nav li.active a {
  color: #fff;
}

nav {
  margin-bottom: 20px;
}

p {
  padding-bottom: 15px;
}

p + p {
  display: none;
}

form li {
  padding-bottom: 5px;
}

input[type="radio"] {
  margin-right: 6px;
}

textarea {
  width: 400px;
  height: 120px;
}

section {
  padding-bottom: 30px;
}